<div class="panel panel-success">
    <div class="panel-heading">创建统计表</div>
    <div class="panel-body" ng-init="init()"><br>
        <form class="form-horizontal" name="form" role="form" ng-submit="createSheet()">
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">名称</label>
                <div class="col-sm-6"
                     ng-class="{'has-error': (form.name.$invalid || errorMsg.error) && form.name.$touched }">
                    <input type="text"
                           class="form-control"
                           name="name"
                           required
                           ng-model="sheet.name"
                           ng-blur="checkName()"
                           placeholder="请输入名称">
                </div>
                <p class="error" ng-if="form.name.$error.required && form.name.$touched">
                    请输入名称
                </p>
                <p class="error" ng-if="errorMsg.error">
                    {{errorMsg.msg}}
                </p>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3 text-right">年级</label>
                <div class="col-sm-6">
                    <select class="form-control" required ng-model="sheet.grade" ng-options="g.grade as g.grade for g in grades">
                        <option value="">--请选择--</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" ng-disabled="form.$invalid || errorMsg.error" class="btn btn-success addUserBtn">提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
