.panel-body {
    padding : 10px 20px;
}

.college {
    width : 20%;
    height : 30px;
    margin : 10px 10px;
}

.operation {
    margin-left : 10px;
    height : 50px;
}

input.error {
    border: 1px solid rgb(241, 39, 242);
    box-shadow: 0 0 5px rgb(250, 0, 0); /*设置阴影，x轴、y轴、发光半径、颜色*/
}

p.error {
    padding-top: 5px;
    color: #d10;
    font-size: 1.1em;
}