body {
    font-family: '微软雅黑', 'Times New Roman', Times, serif;
}

.navbar-default {
    background-color: white;
}

#left {
    min-height: 900px;
    padding: 0px 10px;
}

#footer {
    color : white;
    background-color: #2b2b2b;
    height : 50px;
}
